<div class="container d-flex justify-content-center mt-4">
    <div class="card mb-3 mt-3" style="max-width: 800px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/images/restaurant.jpg" class="img-fluid rounded-start" style="width: 140%; height: 100%;" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" id="font">About us</h5>
              <p class="card-text">We introduce ourselves! <br>
                Welcome to the pleasures of Italian cuisine. Discover the different kinds of pizzas, spagetthis and Italian sweets. Of course we also offer vegetarian dishes. 
                We attach great importance to your satisfaction. Therefore, before ordering, you can have a taste of your chosen dish. So you can not regret anything and always try something. <br><strong>You have the choice, you have your taste. </strong><br><br>
                We are looking forward to you! 
            </div>
          </div>
        </div>
      </div>
</div>
