<div class="text-center font mt-2 animate__animated animate__bounceInLeft">Our specialties</div>
<hr>
<br>
<div class="container"> 
    <div *ngIf="index" class="row row-cols-1 gap-3 mb-4">
    <div *ngFor="let product of products; index as i" class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 18rem;">
        <img src="/assets/images/{{product.image}}" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{product.price | currency: "EUR"}}</li>
          <!-- availability check -->
        <ng-template [ngIf]= "product.availability" [ngIfElse]="none">
          <div class="card-body">
            <!-- check if the product is available -->
              <button class="bg-primary text-light m-2" 
              routerLink="/details/{{i}}">Details</button>
              <button (click)="addToCart()" class="bg-success text-light">Order</button>
          </div>
        </ng-template>
        <ng-template #none>
          <p class = "text-danger mb-5 pb-2"><br>This product is not available, sorry.</p>
        </ng-template>
      </ul>
      </div>
    </div>
</div>
